{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresses - La French Boutique{% endblock %}

{% block body %}
<a href="{{path('app_account_address')}}">
<button class="relative inline-flex items-center justify-center ml-8  my-8 p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
     Retour à mes adresses
  </span>
</button>
</a>
<div class="container mx-auto px-4  grid h-screen place-items-center">
<div class="block p-6 rounded-lg shadow-lg bg-white max-w-lg mx-auto  ">
<h1 class="px-8 mb-5 text-center mt-8 text-[30px]  uppercase">Ajouter une adresse</h1>
{{form(form)}}
</div>
</div>
{% endblock %}
